<h1>So, what options do I have?</h1>
<p>Remember "with great power comes great responsibility".</p>
<ul class="dashboard" id="welcome">
  <li>
    <%= link_to  do %>
      <span class="orange">You can manage users.</span>
      <p>You can manage users of the site and their information. This includes selected committee members and promoting other admins!<p>
    <% end %>
  </li>
  <li>
    <%= link_to  do %>
      <span class="red">You can manage applications.</span>
      <p>You can manage applications, upload transcripts, upload recommendations, and approve applications.</p>
    <% end %>
  </li>
  <li>
    <%= link_to  do %>
      <span class="green">You can view applicants' scores.</span>
      <p>You can view the applicants' scores in real time as committee members make submissions.</p>
    <% end %>
  </li>
  <li>
    <%= link_to  do %>
      <span>You can view tailored reports.</span>
      <p>TBD</p>
    <% end %>
  </li>
</ul>

