<h1>So, what options do I have?</h1>
<ul class="dashboard" id="welcome">
  <li>
    <%= link_to submissions_path do %>
      <span class="orange">View applicant submissions.</span>
      <p>You can view applicant submissions along with each of the attachmens.<p>
    <% end %>
  </li>
  <li>
    <%= link_to submissions_path do %>
      <span class="red">Grade applicant submissions.</span>
      <p>You can grade each applicant based on committee grading standards.</p>
    <% end %>
  </li>
  <li>
    <%= link_to submissions_path do %>
      <span class="green">View applicant scores.</span>
      <p>You can view the scores of the applicants.</p>
    <% end %>
  </li>
  <li>
    <%= link_to  do %>
      <span>You can view tailored reports.</span>
      <p>TBD</p>
    <% end %>
  </li>
</ul>

