<h1>Welcome to the application portal.</h1>
<p>This is your candidate portal and one-stop-shop for submitting and checking back on the status of your NAJA scholarship application. As you complete the parts of the application, the dashboard to the left will start to fill up. When it's full, NAJA has received your application!</p>
<a href="/pages/about"><button>Make sure you qualify</button></a>

