<div class="splash-header">
  <div class="splash-header-secondary"></div>
  <div class="splash-header-primary">
    <div>
      <%= render 'home' %>
    </div>
  </div>
</div>
<div class="splash-content">
  <div class="splash-content-secondary"></div>
  <div class="splash-content-primary">
    <div>
      <%= render 'options' %>
    </div>
  </div>
</div>

