<div class="main">
  <h1>Transcripts</h1>
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @transcripts.each do |transcript| %>
          <tr>
            <td><%= link_to transcript.institution.name, transcript.upload.url %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

