<div class="main">
  <h1>New Transcript</h1>
  <div>
    <p>Please fill out the following form to request an official transcript. You may use this form multiple times to request multiple transcripts.</p>
    <p>Unofficial transcripts uploaded by students will not be accepted. Certified transcripts of all undergraduate and graduate study completed by the applicant must be sent by the college or university to NAJA.</p>
    <p>An email invitation will be sent requesting that your transcript be submitted on your behalf and a link provided for the recipient to upload an Adobe PDF of your transcript. If your institution is unable to upload your transcript in this way, an official e-transcript may be submitted directly to Missy Stephens at <%= mail_to 'mlee@najanet.org', 'mlee@najanet.org' %> or mailed to NAJA Headquarters at 845 S Main Street, Greenville, MS, 38701.</p>
    <p>Please note that a transcript for each school previously attended as well as the school you are currently attending must be submitted. This may include community collegesor universities attended during your bachelor, masters, or doctorate programs.</p>
    <%= render 'form', transcript: @transcript %>
  </diV>
</div>

