<div class="main">
  <h1>New Transcript</h1>
  <div>
    <p>Official transcripts are required for all undergraduate and graduate studies completed by the applicant from each school previously attended as well as the school you are currently attending. Include community colleges or universities attended during your bachelor, masters, or doctorate programs.</p>
    <p>Contact the Office of Student Records and Registrar to pay any transcript fees and obtain an official email address before completing the form below to request an official transcript. You may use this form multiple times to request multiple transcripts. An email invitation containing a link will be emailed to the college or university requesting that your transcript be uploaded on your behalf.</p>
    <p>If your college or university is unable to upload your transcript, an official electronic transcript may be emailed directly to NAJA at <%= mail_to 'mlee@najanet.org', 'mlee@najanet.org' %> or mailed to NAJA 845 S Main Street, Greenville, MS, 38701.</p>
    <p>Unofficial transcripts uploaded by students will not be accepted.</p>
    <%= render 'form', transcript: @transcript %>
  </diV>
</div>

