<div class="main">
  <h1>New Transcript</h1>
  <div>
    <p>Please fill out the following form to request an official transcript.</p>
    <%= render 'form', transcript: @transcript %>
  </diV>
</div>

