<div class="main">
  <h1>New Transcript</h1>
  <div>
    <p>Please fill out the following form to request an official transcript. You may use this form multiple times to request multiple transcripts.</p>
    <p>An email invitation will be sent requesting that your transcript be submitted on your behalf and a link provided for the receipient to upload an Adobe PDF of your transcript. If your institution is unable to upload your transcript in this way, it may also be emailed directly to Missy Stephens at <%= mail_to 'mlee@najanet.org', 'mlee@najanet.org' %>.</p>
    <%= render 'form', transcript: @transcript %>
  </diV>
</div>

