<div class="main">
  <h1>New Recommendation</h1>
  <div>
    <p>Please enter an email address below to request a recommendation.</p>
    <%= render 'form', recommendation: @recommendation %>
  </div>
</div>

