<div class="main">
  <h1>New Recommendation</h1>
  <div>
    <p>Please enter an email address below to request a recommendation. You may use this form multiple times to request multiple recommendations.</p>
    <p>First time applicants are required to submit at least three (3) recommendations. Returning applicants are required to submit at least two (2) recommendations.</p>
    <p>Two of the recommendations must be professional recommendations from educators, professors, employers or individuals who know the applicant and are in the field of work or studies that the applicant is pursuing.</p>
    <p>One recommendation must be from an individual (non-relative) who has known the applicant long enough to make comments on character, abilities, motivation, background etc. of the applicant.</p>
    <%= render 'form', recommendation: @recommendation %>
  </div>
</div>

