<div class="main">
  <h1>New Recommendation</h1>
  <div>
    <p>Please enter an email address below to request a recommendation. You may use this form multiple times to request multiple recommendations.</p>
    <p>First time applicants are required to submit at least three (3) recommendations. Returning applicants are required to submit at least two (2) recommendations.</p>
    <%= render 'form', recommendation: @recommendation %>
  </div>
</div>

