<div class="main">
  <h1>Show Applicant Recommendation</h1>

  <div class="recommendations">
    <p id="notice"><%= notice %></p>

    <p>Please note that any changes made to this form will not be saved.</p>

    <div class="recommendations-form">
      <%= render 'edit-disabled', recommendation: @recommendation %>
    </div>
  </div>
</div>

