<h1>Everything you need in one place.</h1>
<p>From seeing if you qualify, to submitting your application, to having your supporters submit recommendations, to NAJA committee members selecting winners, it's all under one roof.</p>
<ul class="splash">
  <li>
    <a href="/pages/about"><span class="orange">Information</span></a>
    <p>Want to know more about NAJA scholarships? Want to find out if you qualify?</p>
  </li>
  <li>
    <%= link_to('Applicants', dashboard_home_path, class: "red") %>
    <p>Ready to apply? Submitting your application, uploading transcripts, and requesting recommendations all in same spot.</p>
  </li>
  <li>
    <span class="blue">Committee Members</span>
    <p>Time to review and find the winners? Reviewing, scoring, and awarding candidates all under one roof.</p>
  </li>
  <li>
    <p></p>
  </li>
</ul>

