<div class="main">
<div class="about">
  <p><a href="/naja-scholarship-brochure-fy18.pdf">Download brochure</a></p>
  <h1>NAJA Contact Information</h1>
  <p>
    NAJA Headquarters<br>
    845 S Main St / P.O. Box 1873<br>
    Greenville, Mississippi<br>
    38701 / 38702<br><br>
    <a href="mailto:najanet@bellsouth.net">najanet@bellsouth.net</a>
  </p>
  <h1>Purpose of NAJA</h1>
  <p>The National Association of Junior Auxiliaries, Inc. was established in 1941 with the purpose of uniting members "to render charitable services which are beneficial to the general public, with particular emphasis on children, and to cooperate with other organizations performing similar services." Today the growing Association continues the focus of meeting the needs of children and youth in keeping with the NAJA slogan: "Care Today - Character Tomorrow".</p>
  <h1>History of NAJA Scholarship</h1>
  <p>Begun in 1962, the NAJA Graduate Scholarship Program has awarded more than 542 scholarships totaling $1,268,504.00 for graduate study in fields which address the special needs of children and youth. The Betty W. Robbins Endowed Scholarship was established in 1995 by the Robbins family in memory of Betty Robbins of Ruston, Louisiana, who served the National Association of Junior Auxiliaries, Inc. as Director of Region V, First Vice-President and President (1992-1993). Contributions from Junior Auxiliary Chapters, the National Association, the Robbins family, memorials, and honorary gifts from individuals and groups support the Program.</p>
  <p>Scholarships are awarded each April. If more than one Scholarship year is required to complete studies, the recipient may reapply, provided all previous agreements have been fulfilled satisfactorily.</p>
  <h1>Applicant Qualifications</h1>
  <p>Applicant must be:
  <ul>
    <li>Working or planning to work DIRECTLY with children.</li>
    <li>Pursuing graduate level studies for one year in fields which address the special needs of children and youth. Graduate fields of study include, but are not limited to: Counseling, Psychology, Mental Health, Special Education, Speech Pathology, Exceptional Children, Remedial Skills Development, Hearing Impaired, Gifted and Talented, etc. Scholarships are NOT awarded for graduate work in administration or general education.</li>
    <li>A U.S. citizen and a permanent resident of a state with a Junior Auxiliary Chapter: Alabama, Arkansas, Florida, Kentucky, Louisiana, Mississippi, Missouri, and Tennessee.</li>
    <li>Planning to attend a U.S. college or university for full-time or part-time study.</li>
  </ul>
  </p>
  <h1>Application Process</h1>
  <p>The Application and Re-application forms are available online ONLY between September 1st and February 1st from this NAJA website.</p>
  <p>Re-application forms are used only by those who are currently receiving a NAJA Scholarship and who wish to reapply for a grant for the upcoming scholarship year.</p>
  <p>Applications, including supporting documents, must be completed online by February 1st. It is the applicant's responsibility the process is complete. Applicants will be notified of their status by the third week in April.</p>
</div>
</div>
