<div class="splash-header">
  <div class="splash-header-secondary">
    <div>
      <%= render 'notice' %>
    </div>
  </div>
  <div class="splash-header-primary">
    <div>
      <%= render 'welcome' %>
    </div>
  </div>
</div>
<div class="splash-content">
  <div class="splash-content-secondary"></div>
  <div class="splash-content-primary">
    <div>
      <%= render 'content' %>
    </div>
  </div>
</div>

