<h1>Splash page</h1>
<h2>Links</h2>
<ul>
  <li>Registration</li>
  <li>Sign in</li>
</ul>
<h2>Sections</h2>
<ul>
  <li>NAJA welcome</li>
  <li>Offer to applicants</li>
  <li>Offer to recommendationers</li>
  <li>Offer to scholarship committee</li>
</ul>
</p>
<h2>Styling</h2>
<ul>
  <li>Infinity design</li>
  <li>Navigation</li>
  <li>Footer with legal</li>
  <li>NAJA colored sections</li>
  <li>Pictures for first section</li>
</ul>

