<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Recommendation has been submitted!</h1>
    <p><%= @recommendation.email %> has submitted a recommendation.</p>
    <p>Thank you for your time,</p>
    <p>National Association of Junior Auxiliaries, Inc.</p>
  </body>
</html>

