<div class="main">
  <h1>Edit Scholarship Application</h1>

  <div class="submissions">
    <div class="submission-form">
      <%= render 'form', submission: @submission %>
    </div>
  </div>
</div>

