.devise {
  color: white;
  padding: 5em 2em 0 2em;

  label {
    color: white;
  }

  a {
    color: white;
  }

  .actions {
    input {
      background-color: white;
      color: #1564d0;
    }
  }
}

