$pantone-blue: #001489;

.splash-header {
  background-image: linear-gradient(#001489, #1564d0);
  min-height: 35em;
  margin: 0;
  padding: 0;

  .splash-header-secondary {
    background-image: url("/logo-left.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    float: left;
    min-height: inherit;
    overflow: hidden;
    padding: 5% 0;
    width: 35%;

    div {
      color: white;
      padding: 20% 1em 0 1em;
      text-align: center;
      vertical-align: middle;

      p {
        font-size: 2em;
        padding: 10% 0;
      }
    }
  }
  .splash-header-primary {
    background-color: #1564d0;
    background-image: url("/logo-right.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    float: right;
    min-height: inherit;
    overflow: hidden;
    padding: 5% 0;
    width: 65%;

    div {
      color: white;
      display: table-cell;
      vertical-align: middle;
      padding: 10% 10em 0 10em;

      button {
        background-color: white;
        color: #1564d0;
        margin: 2em 0 0 0;
      }
    }
  }
}

.splash-content {
  min-height: 35em;

  .splash-content-secondary {
    background-image: url("/splash-content.jpg");
    background-repeat: no-repeat;
    float: left;
    min-height: inherit;
    width: 35%;
  }
  .splash-content-primary {
    background-color: white;
    display: table;
    float: right;
    min-height: inherit;
    overflow: hidden;
    width: 65%;

    div {
      display: table-cell;
      vertical-align: middle;
      padding: 0 10em 0 10em;

      h1 {
        color: $pantone-blue;
      }

      .splash {
        li {
          min-height: 6em;
        }
      }

      .dashboard {
        li {
          min-height: 10em;
        }
      }

      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        line-height: 2em;
        margin-top: 2em;
        width: 100%;

        li {
          .orange{
            color: orange;
          }
          .red {
            color: red;
          }
          .blue {
            color: $pantone-blue;
          }
          .green {
            color: green;
          }
        }
      }
      .splash-content-grid:nth-child(odd) {
        float: right;
        width: 50%;
      }
      .splash-content-grid:nth-child(even) {
        float: left;
        width: 50%;
      }
    }
  }
}

