@import "media-sizes";

$pantone-blue: #001489;

.splash-header {
  background-image: linear-gradient(#001489, #1564d0);
  margin: 0;
  height: 35em;
  padding: 0;

  .splash-header-secondary {
    background-image: url("/logo-left.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    float: left;
    height: inherit;
    overflow: hidden;
    padding: 10em 0 0 0;
    width: 35%;

    div {
      color: white;
      padding: 20% 1em 0 1em;
      text-align: center;
      vertical-align: middle;

      p {
        font-size: 2em;
      }
    }
  }

  .splash-header-primary {
    background-color: #1564d0;
    background-image: url("/logo-right.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    float: right;
    height: inherit;
    overflow: hidden;
    padding: 10em 10em 0 10em;
    width: 65%;

    div {
      color: white;
      display: table-cell;
      vertical-align: middle;

      button {
        background-color: white;
        color: #1564d0;
        margin: 2em 0 0 0;
      }
    }
  }
  @media (min-width : $media-desktop) {
    .splash-header-primary, .splash-header-secondary {
    }
  }
}

.splash-content {
  margin: 0;
  min-height: 44em;
  padding: 0;

  .splash-content-secondary {
    background-image: url("/splash-content.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    float: left;
    min-height: inherit;
    overflow: hidden;
    padding: 10em 10em 0 10em;
    width: 35%;

    div {
      color: white;
      padding: 20% 1em 0 1em;
      text-align: center;
      vertical-align: middle;

      p {
        font-size: 2em;
        padding: 10% 0;
      }
    }
  }

  .splash-content-primary {
    background-color: white;
    float: right;
    min-height: inherit;
    overflow: hidden;
    padding: 10em 10em 0 10em;
    width: 65%;

    div {
      display: table-cell;
      vertical-align: middle;

      h1 {
        color: $pantone-blue;
      }

      .splash {
        li {
          min-height: 6em;
        }
      }

      .splash-content-grid:nth-child(odd) {
        float: right;
        width: 50%;
      }
      .splash-content-grid:nth-child(even) {
        float: left;
        width: 50%;
      }
    }
  }
  @media (max-width: $media-desktop) {
    .splash-content-primary {
      padding-top: 5em;
    }
  }
}

.splash-reapply {
  padding: 4em 5em 4em 5em;
  margin: 0 auto 5em auto;
  width: 60%;

  .content {
    color: white;

    button {
      color: #1564d0;
      background: white;
      margin: 2em 0 0 0;
    }
  }
}

