.about {
  padding: 5em 2em 0 2em;

  p {
    color: white;
  }
}

.transcripts {
  color: white;
  padding: 5em 2em 0 2em;

  a {
    color: white;
  }
}

.submissions {
  padding: 5em 2em 0 2em;

  .submission-form {
    background-color: white;
    padding: 2em;
  }
}

