.about {
  padding: 5em 2em 0 2em;

  a {
    color: #001489;
  }

  h1 {
    color: #001489;
  }

  p {
    color: black;
  }

  ul {
    color: black;
    font-family: "Lato";
    font-weight: 300;
    list-style-type: circle!important;
    list-style-position: inside!important;
  }
}

.transcripts {
  color: white;
  padding: 5em 2em 0 2em;

  a {
    color: white;
  }
}

.submissions {
  padding: 5em 2em 0 2em;

  .submission-form {
    background-color: white;
    padding: 2em;
  }
}

