// Place all the styles related to the recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions {
  span {
    font-weight: bold;
  }

  > div:last {
    width: 100%;
  }
}

.impressions {
  float: right;
  padding-left: 1em;
  width: 50%;

  > div {
    p {
      display: inline-block;
    }

    select {
      float: right;
    }
  }
}

.recommendation {
  float: left;
  padding-left: 1em;
}

.overview {
  float: left;
  width: 49.5%;
}

