// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media print {
  .anticipated-institution-information {
    page-break-before: always;
  }

  .estimates {
    page-break-inside: avoid;
  }

  .relative {
    page-break-after: always;
  }
}

label, select {
  display: inline-block;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.right {
  float: right!important;
}

.anticipated-institution-information {
  div:nth-of-type(odd) {
    float: left;
  }

  div:nth-of-type(even) {
    float: right;
  }

  > div:nth-of-type(odd) {
    padding: 0 1em 0 1em;
  }

  > div:nth-of-type(even) {
    padding: 0 1em 0 0;
  }

  > div {
    width: 50%;

    div:nth-of-type(even) {
      width: 100%;
    }
  }

  .cost-estimates {
    padding-left: 1em!important;
    width: 100%;

    div {
      display: inline-block;
      width: 50%!important;

      div {
        width: 50%;
      }
    }

    div:nth-of-type(odd) {
      padding-right: 1em;
    }
  }

  .institution-information {
    > div {
      width: 100%;

      > div:nth-of-type(even) {
        width: 50%;
      }
    }
  }
}

.employments {
  > div {
    padding: 0 1em 0 1em;

    > fieldset {
      > div {
        display: inline-block;
      }

      > div:nth-of-type(1) {
        width: 30%;
      }

      > div:nth-of-type(2) {
        width: 28.5%;
      }

      > div:nth-of-type(3) {
        width: 20%;
      }

      >div:nth-of-type(4) {
        width: 20%;
      }
    }
  }
}

.honors {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;

  > div {
    display: inline-block;
    padding: 0 1em 0 1em;
    width: 50%;
  }
}

.institutions {
  > div {
    padding: 0 1em 0 1em;

    > fieldset {
      > div {
        display: inline-block;
      }

      > div:nth-of-type(1) {
        width: 30%;
      }

      > div:nth-of-type(2) {
        width: 22.5%;
      }

      > div:nth-of-type(3) {
        width: 5.5%;
      }

      >div:nth-of-type(4) {
        width: 20%;
      }

      >div:nth-of-type(5) {
        width: 20%;
      }
    }
  }
}

.motivation {
  > div {
    padding: 0 1em 0 1em;
  }
}

.personal-information {
  div {
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }

  div:nth-of-type(odd) {
    padding: 0 1em 0 1em;
  }
}

.relative {
  > div {
    padding: 0 1em 0 1em;

    > fieldset {
      > div {
        display: inline-block;
      }

      > div:nth-of-type(1) {
        vertical-align: top;
        width: 49.5%;

        > div {
          display: inline-block;
          width: 49.5%;
        }
      }

      > div:nth-of-type(2) {
        vertical-align: top;
        width: 50%;
      }
    }
  }
}

.volunteers {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  > div {
    display: inline-block;
    padding: 0 1em 0 1em;
    width: 50%;
  }
}

