<header class="navigation" role="banner">
  <ul>
    <li class="nav-link"><a href="/">Home</a></li>
    <li class="nav-link"><a href="/pages/about">Information</a></li>
    <li class="nav-link"><%= link_to 'Applicants', dashboard_home_path %></li>
    <li class="nav-link"><a href="javascript:void(0)">Committee Members</a></li>
    <% if user_signed_in? %>
      <li class="nav-link">
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
      </li>
    <% else %>
      <li class="nav-link">
        <%= link_to 'Login', new_user_session_path %>
      </li>
    <% end %>
  </ul>
</header>

